#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  text-align: center;
  background: linear-gradient(180deg, #C2B2B4 50%, #575366 50%);
}

.svg2_container {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;

}
