#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  max-height: 100px;
  text-align: center;
  background: linear-gradient(#C9CBC0, #D5D7CE);
}

.footer-logo {
  width: 300px;
  margin: 0 auto;
  z-index: 2;
}
