<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="svg2_container">
    <svg id="afcd7609-43ff-449d-8a58-eab484d46123" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 142.7 38.55">
      <defs>
        <style>
          .b4b1e1e8-5d09-428d-b21e-f67e6a740720 {
            fill: #e6e6e6;
            stroke: #0e1c36;
            stroke-miterlimit: 10;
            stroke-width: 4px;
          }

          .f5467db7-282f-4da5-9618-95853be34ec5 {
            fill: #0e1c36;
            fill-rule: evenodd;
          }

          .aaeb4a72-77b9-46ab-8d57-09031d3fa08d {
            font-size: 18px;
            font-family: Broadway;
          }

          .bf84b536-b669-48d5-88a6-5289f847020d {
            letter-spacing: 0em;
          }

          .f1439519-7987-4c28-9ab4-cae5c8fa63ee {
            letter-spacing: 0em;
          }

          .b1ee3f5e-7ee7-4fd5-9044-53b8137aaa9c {
            fill: #c90500;
          }
        </style>
      </defs>
      <title>footer_name</title>
      <path class="b4b1e1e8-5d09-428d-b21e-f67e6a740720" d="M5.7,2H137c2,0,3.69.73,3.69,1.63V34.92c0,.9-1.65,1.63-3.69,1.63H5.7c-2,0-3.7-.73-3.7-1.63V3.63C2,2.73,3.66,2,5.7,2Z" />
      <path class="f5467db7-282f-4da5-9618-95853be34ec5" d="M120.23,26.86" />
      <path class="f5467db7-282f-4da5-9618-95853be34ec5" d="M120.23,32.7" /><text class="aaeb4a72-77b9-46ab-8d57-09031d3fa08d" transform="translate(12.3 25)">el<tspan class="bf84b536-b669-48d5-88a6-5289f847020d" x="17.31" y="0">i</tspan>
        <tspan x="23.84" y="0">jah ban</tspan>
        <tspan class="f1439519-7987-4c28-9ab4-cae5c8fa63ee" x="101.49" y="0">k</tspan>
        <tspan x="114.55" y="0">s</tspan>
      </text>
      <rect class="b1ee3f5e-7ee7-4fd5-9044-53b8137aaa9c" x="75.13" y="26.86" width="60.79" height="2.5" />
    </svg>
    </div>
</footer>
