#sticky-footer {
  position: absolute;
bottom: 0;
width: 100%;
min-height: 30px;
/* Height of the footer */
text-align: center;
color: #999999;
background-color: #222831 !important;
border-top: 5px solid #c90500;
}

.footer {

}
