<div class="container py-5">
  <h1 class="display-2 main-display">Project Portfolio</h1>
  <hr class="red-border my-4 ml-0 w-25" role="presentation">
  <div class="row">
    <div class="col-lg-8">
      <p class="font-serif lead mb-4 text-secondary">
        My name is Elijah Banks and I am a recent graduate with a degree in Computer Science.
        This website, developed in Angular, is meant to display some of my projects, which
        include those of academic, personal, and professional.
      </p>
    </div>
  </div>
</div>
<div class="container mb-4">
  <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
    <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
      <h2 class="font-weight-normal">Employee Management</h2>
      <p class="font-weight-light text-light">
        A website custom built with Laravel to handle scheduling within a local
        branch of Owens Illinois, a glass-container producing company. It allows management
        to view all of the employees and their shift, job, and other information. Employees are
        organized by shift where there are options to change their shift, view more information, and
        more. It also handles notifications & displaying staff events.
      </p>
    </div>
    <div class="col-lg-6 order-lg-1">
      <a href="project-4.html">
        <figure class="img-overlay">
          <img src="assets/new_logo.svg" alt="..." class="border-dark img-thumbnail">
          <div class="img-hover">
            <span class="img-text">View Project</span>
          </div>
        </figure>
      </a>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
    <div class="col-lg-5 mb-2 mb-lg-0">
      <h2 class="h3 font-weight-normal">GPA Calculator</h2>
      <p class="font-weight-light text-light">
        Commisioned by Aurora University, this GPA calculator was devleoped from scratch. Meetings were
        held over the course of months to decide features, styling, and use before the final product
        was hosted on their website. Javascript was used for the calculation functions, hiding and showing
        elements, and resetting inputs. Styling was done to match the style of the rest of the existing website.
      </p>
    </div>
    <div class="col-lg-6">
      <a href="project-4.html">
        <figure class="img-overlay">
          <img src="assets/new_logo.svg" alt="..." class="border-dark img-thumbnail">
          <div class="img-hover">
            <span class="img-text">View Project</span>
          </div>
        </figure>
      </a>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
    <div class="col-lg-5 order-lg-2 mb-2 mb-lg-0">
      <h2 class="h3 font-weight-normal">Dog Rescue Organization</h2>
      <p class="font-weight-light text-light">
        Built using Wordpress, this website was designed for a local animal rescue. The organization wanted
        a simple site that allowed individuals to visit and see basic information about the rescue, links
        to pet listings on various other websites, a gallery, and ability to send a message. Additionally,
        there are links to a donation page and a downloadable adoption application that the oranization requires.
      </p>
    </div>
    <div class="col-lg-6 order-lg-1">
      <a href="project-4.html">
        <figure class="img-overlay">
          <img src="assets/new_logo.svg" alt="..." class="border-dark img-thumbnail">
          <div class="img-hover">
            <span class="img-text">View Project</span>
          </div>
        </figure>
      </a>
    </div>
  </div>

  <div class="row justify-content-lg-between align-items-center pb-5 pb-lg-6">
    <div class="col-lg-5 mb-2 mb-lg-0">
      <h2 class="h3 font-weight-normal">Horse Braiding</h2>
      <p class="font-weight-light text-light">
        Developed with Laravel, this website was made for a woman who braided horses for events. She wanted a
        reliable, effecient way to handle and track her appointments. Clients can visit the website to learn
        about her services, request appointments, and view their past appointments. The owner can view their
        requested appointments, accept or deny them, and view all of their accepted and completed appointments.
      </p>
    </div>
    <div class="col-lg-6">
      <a href="project-4.html">
        <figure class="img-overlay">
          <img src="assets/new_logo.svg" alt="..." class="border-dark img-thumbnail">
          <div class="img-hover">
            <span class="img-text">View Project</span>
          </div>
        </figure>
      </a>
    </div>
  </div>
</div>

    <div class="bg-white py-5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/img/logo-dribbble.svg" alt="Dribbble logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/img/logo-github.svg" alt="Github logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/img/logo-paypal.svg" alt="Paypal logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/img/logo-slack.svg" alt="Slack logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/img/logo-spotify.svg" alt="Spotify logo">
                    </div>
                </div>
            </div>
        </div>


<!--
<div class="container">
  <div class="modal fade" id="modal_window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4 id="modalheader">More Information</h4>
          <div class="modal_body" id="dog_content">
            <img src="/assets/dog_used.svg" />
            <hr class="dark_hr" />

            <p>
              HOPE, a local animal rescue, needed a website to suit their needs. They wanted
              a simple, clean website that provided links to their animal listings, contact
              information for the organization, a place to display their featured pets, and
              general information about the organization.
            </p>

            <p>
              I worked with the organization directly and set them up with web hosting, a domain,
              and then implemented Wordpress. I worked with them on what layout they wanted and
              how they wanted it structured. I set up the links that they provided for me, designed
              certain images and graphics, such as the main image and featured pets, and then I customized
              the color and layout to their liking. I installed and setup various plugins for certain
              functions, such as menu dropdowns and the contact form that sends the message to the
              organization leader.
            </p>

            <p>
              I continue to regularly update and maintain the design, layout, images, and website features.
            </p>
          </div>

          <div class="modal_body" id="employee_content">
            <img src="/assets/laravel_used.svg" />
            <hr class="dark_hr" />
            <p>
              Owens-Illinois, a major glass-container producing factory with a local branch, wanted a
              tool that allowed them to more efficiently schedule their staff. They rely on spreadsheets
              and then sorting individuals by hand and then calling each one to notify them if their
              shift has changed. Management also wanted the chart of staff and shifts sent to them weekly.
            </p>

            <p>
              This website aimed to allow management to easily change shifts and then have the individual
              automatically notified through email of their change. Each staff member is organized into
              their applicable shifts (A, B, C, or D), which holds their name, employee ID, primary job,
              seniority, and any comments. A dropdown is populated with the shifts, which management can
              simply click on and move that individual. Laravel Scheduler then runs at certain intervals,
              checking whose shift has changed and then sending an email to them, using Laravel Notify.
            </p>

            <p>
              Additionally, through later meetings with plant management, they wanted the ability to mark
              absences and have an event calendar. Both of these were added. The absence functionality
              was added to the main shift listing page and a table was added in the database to track absences
              of employees. As for the event calendar, Javascript FullCalendar was implemented and customized
              and allows management to add, remove, and update staff events. Custom modals were created to make
              adding and editing events simple and quick.
            </p>

            <p>
              There are also various management features, including full CRUD functionality, the ability
              to import a spreadsheet with staff information, and exporting of employee and shift listings.
            </p>
          </div>

          <div class="modal_body" id="gpa_content">
            <img src="/assets/gpa_used.svg" />
            <hr class="dark_hr" />
            <p>
              Commissioned by Aurora University, I worked on and developed a GPA calculator for students
              to use. Meetings were held over the course of several months with University staff,
              beginning with laying out the requirements and needs of the calculator. Subsequent meetings
              were held in order to update progress, receive feedback, and elicit proposed changes.
              The final product takes in student inputs and allows them to calculate their term, cumulative,
              and/or projected GPA.
            </p>

            <p>
              The functionality of the calculator uses Javascript for all of the calculations. Rows of inputs
              are appended on load through a Javascript function, which have dropdowns populated by the values
              that the school uses for grade values and credit hours. Each row calculates the quality points
              for that given grade and then it is added to the overall GPA. Rows can be added or deleted if more
              or less courses are needed, and all inputs can be reset by clicking the "Reset" button.
            </p>

            <p>
              Lastly, it allows students to project their GPA. They can input a GPA goal and credits remaining,
              and a function calculates what GPA they need to maintain to achieve it. If it is not attainable,
              the student is told it is out of reach.
            </p>
          </div>

          <div class="modal_body" id="horse_content">
            <img src="/assets/laravel_used.svg" />
            <hr class="dark_hr" />
            <p>
              Developed in Laravel, this website was designed for a local woman who braids horses for events and
              other shows. This individual wanted a tool that allowed customers and potential customers to visit,
              see general information about her and her services, and, most importantly, schedule appointments.
              She relied on whiteboards scattered through horse barns at various locations to track and complete
              her appointments.
            </p>

            <p>
              MySQL was used for the database, which held three tables; services, users, and appointments. Each
              time an appointment is scheduled, an email is sent to her and it is marked as a requested appointment
              in the database. There is an appointments page that lists all appointments, and from here she can see
              all of the relevant information (name of individual, date requested, address, location of horse, etc)
              and then she can choose to accept or deny it. If accepted, it is moved into the column for accepted
              appointments, where the requesting user is then notified.
            </p>

            <p>
              Javascript FullCalendar was used in order to give a clearer look at her appointments. It displays
              the calendar and then has all of her appointments. They are color coordinated by status, such as
              yellow for requested and blue for accepted, and can easily be moved if needed. She regularly works
              through the night, so if a certain appointment would make more sense to do early in the morning,
              she can easily drag an appointment to the following day. Regular users can also see this calendar
              and her appointments, but cannot edit or see personal information from the appointments.
            </p>

            <p>
              Additionally, there is full CRUD functionality for all of the resources, a gallery, and a contact
              form that gets sent to all admins of the website.
            </p>
          </div>

          <div class="modal_body" id="contact_content">
            <hr class="dark_hr" />
            <h2 id="email_header">ejoebanks@gmail.com</h2>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" id="close_btn" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>

  <div class="main_content">
    <div class="row">
      <div id="info_container" class="col-md-12">
        <div id="info" class="card">
          <div class="info_svg_container">
            <img id="info_svg" src="/assets/info_svg.svg" />
          </div>
          <div class="info_box">
            <p id="info_text">
              My name is Elijah Banks and I am a recent graduate with a degree in Computer Science.
              This website was developed in Angular and is meant to display some of my projects,
              which are outlined below.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="au" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <rect class="cls-2" x="66.21" y="47.47" width="124.62" height="156.47" rx="5.7" />
              <rect class="cls-3" x="76.61" y="57.82" width="102.66" height="33.76" rx="4.39" />
              <rect class="cls-3" x="99.8" y="177.46" width="56.28" height="11.16" rx="3.6" />
              <rect class="cls-3" x="77.56" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="77.56" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="77.56" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="149.01" width="14.22" height="14.16" rx="3.49" />
            </svg>
            <h4 class="card-title">GPA Calculator</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Commisioned by Aurora University, this GPA calculator was devleoped from scratch. Meetings were held
              over the course of months to decide features, styling, and use before the final product was hosted
              on their website. Javascript was used for the calculation functions, hiding and showing elements,
              and resetting inputs. Styling was done to match the style of the rest of the existing website.
            </p>
          </div>
          <div id="au_footer" class="card-footer">
            <a href="https://libguides.aurora.edu/gpacalculator" id="red_btn" class="btn btn-secondary">Visit</a>
            <button type="button" class="btn btn-secondary modal_btn" value="gpa_content">Read More</button>
          </div>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div id="horse" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <path class="cls-2" d="M149.25,47.57S139,59.39,136.08,68.32c0,0-6.91-2.4-15.33-19.26,0,0-1.93,15.92,3,22.27,0,0-18.35,18.35-20,24.58C99.58,112.19,66,155.64,54.64,170.05s-1.9,28.63,6,33.26,24.75,4.31,26.87,2.26c2.78-2.7,8.53-13.65,13.14-16.06C112,183.6,126,185,138.81,172.26c13.48-13.37,19.74,7,19.73,21,0,12.41,6.19,40.82,11.35,54.24a129.89,129.89,0,0,0,81-88.27,132.18,132.18,0,0,0,3-14.29c-22.91-26.45-60.39-63.14-100-74.5C153.88,70.43,154,52.08,149.25,47.57Z"
                transform="translate(0)" />
            </svg>
            <h4 class="card-title">Horse Braiding</h4>

          </div>
          <div class="card-body">
            <p class="card-text">
              Developed with Laravel, this website was made for a woman who braided horses for events. She wanted
              a reliable, effecient way to handle and track her appointments. Clients can visit the website to
              learn about her services, request appointments, and view their past appointments. The owner can view
              their requested appointments, accept or deny them, and view all of their accepted and
              completed appointments.
            </p>
          </div>
          <div id="horse_footer" class="card-footer">
            <a href="#" id="red_btn" class="btn btn-primary disabled">Visit Soon</a>
            <button type="button" class="btn btn-secondary modal_btn" value="horse_content">Read More</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <div id="employee" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <circle class="cls-2" cx="127.94" cy="70.18" r="34.76" />
              <path class="cls-2" d="M174.5,215.22c-31.63-13.56-62.7-14.1-93.12,0V122.1H174.5Z" transform="translate(0 0)" />
            </svg>
            <h4 class="card-title">Employee Management</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              A website custom built with Laravel to handle scheduling within a local
              branch of Owens Illinois, a glass-container producing company. It allows management
              to view all of the employees and their shift, job, and other information. Employees are
              organized by shift where there are options to change their shift, view more information, and
              more. It also handles notifications & displaying staff events.
            </p>
          </div>
          <div id="employee_footer" class="card-footer">
            <a href="http://www.em.ejanks.com" id="red_btn" class="btn btn-secondary">Visit</a>
            <button type="button" class="btn btn-secondary modal_btn" value="employee_content" data-toggle="modal">Read More</button>
          </div>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div id="dog" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <path class="cls-2" d="M248.32,162.44c-35-61.3-38.62-54.56-45.09-59.42s-12.68-3.87-12.68-3.87a24,24,0,0,0-1.62-4.58c-1.3-2.92-8.78-7.15-12.68-12.63s-1.62-18.57-9.42-17.27S156.1,99.12,156.1,99.12A42.82,42.82,0,0,1,139.2,90,68.83,68.83,0,0,1,129,77.93c-4.22-6.5-5.64-11.32-10.72-13.17-1-.35-3.17-1.12-4.77-.09-2.55,1.65-1.67,6.79-1.47,9.81,1,15.54,10.9,40.57,10.9,40.57-6.83,7.8-11.38,18.2-15,27.3s2.92,21.24,2.92,21.24-3.57,7.36-8.45,15.49-29.9,19.82-27.95,26.65,14,11.38,14,11.38c9.1,9.75,36.72,5.52,36.72,5.52l18.05,4.17L162,248.64A114.43,114.43,0,0,0,248.32,162.44Z"
                transform="translate(0 0)" />
              <path class="cls-2" d="M108.26,48.94" transform="translate(0 0)" />
            </svg>
            <h4 class="card-title">Dog Rescue Organization</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Built using Wordpress, this website was designed for a local animal rescue. The
              organization wanted a simple site that allowed individuals to visit and see basic
              information about the rescue, links to pet listings on various other websites, a gallery,
              and ability to send a message. Additionally, there are links to a donation page
              and a downloadable adoption application that the oranization requires.
            </p>
          </div>
          <div id="dog_footer" class="card-footer">
            <a href="http://sparrowdogs.com/" id="red_btn" class="btn btn-secondary">Visit</a>
            <button type="button" class="btn btn-secondary modal_btn" value="dog_content">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto my-2 order-0 order-md-1 position-relative">
    <img class="footer-logo" src="/assets/name_footer.svg" />
  </div>

</div>
-->
