<div class="container">

  <div class="main_content">

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body mx-3">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fas fa-times-circle"></i>
            </button>
            <h4 id="modalheader">More Information</h4>
            <hr id="dark_hr"/>
            <div class="modal_body">
              <img src="/assets/used_dog.svg"/>

              <p>
                HOPE, a local animal rescue, needed a website to suit their
                needs.  They wanted a simple, straightforward website that had
                links to what they wanted, images, a contact form, and a way they
                could post updates about past adoptions.
                </p>
                <p>
                I set the organization up with web hosting, a domain, and then
                implemented Wordpress and worked with them on what layout they wanted
                and how they wanted it to look.  I set up the links they provided me,
                designed certain images, such as the main image and featured pets, and
                customized the colors to their liking.  I installed and set up plugins
                for certain functions they wanted, such as the contact form that sends
                the message to the organization leader.  I perform regular updates to the
                design, layout, images, plugins, and more.
              </p>
            </div>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-danger" id="event_remove" value="Remove">
            <input type="button" class="btn btn-primary" id="event_update" value="Save">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div id="au" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <rect class="cls-2" x="66.21" y="47.47" width="124.62" height="156.47" rx="5.7" />
              <rect class="cls-3" x="76.61" y="57.82" width="102.66" height="33.76" rx="4.39" />
              <rect class="cls-3" x="99.8" y="177.46" width="56.28" height="11.16" rx="3.6" />
              <rect class="cls-3" x="77.56" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="77.56" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="77.56" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="98.99" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="121.41" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="142.76" y="149.01" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="105.87" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="127.44" width="14.22" height="14.16" rx="3.49" />
              <rect class="cls-3" x="164.11" y="149.01" width="14.22" height="14.16" rx="3.49" />
            </svg>
            <h4 class="card-title">GPA Calculator</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Commisioned by Aurora University, this GPA calculator was devleoped from scratch. Meetings were held
              over the course of months to decide features, styling, and use before the final product was hosted
              on their website. Javascript was used for the calculation functions, hiding and showing elements,
              and resetting inputs. Styling was done to match the style of the rest of the existing website.
            </p>
          </div>
          <div id="au_footer" class="card-footer">
            <a href="https://libguides.aurora.edu/gpacalculator" id="red_btn" class="btn btn-primary">Visit</a>
          </div>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div id="horse" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <path class="cls-2" d="M149.25,47.57S139,59.39,136.08,68.32c0,0-6.91-2.4-15.33-19.26,0,0-1.93,15.92,3,22.27,0,0-18.35,18.35-20,24.58C99.58,112.19,66,155.64,54.64,170.05s-1.9,28.63,6,33.26,24.75,4.31,26.87,2.26c2.78-2.7,8.53-13.65,13.14-16.06C112,183.6,126,185,138.81,172.26c13.48-13.37,19.74,7,19.73,21,0,12.41,6.19,40.82,11.35,54.24a129.89,129.89,0,0,0,81-88.27,132.18,132.18,0,0,0,3-14.29c-22.91-26.45-60.39-63.14-100-74.5C153.88,70.43,154,52.08,149.25,47.57Z"
                transform="translate(0)" />
            </svg>
            <h4 class="card-title">Horse Braiding</h4>

          </div>
          <div class="card-body">
            <p class="card-text">
              Developed with Laravel, this website was made for a woman who braided horses for events. She wanted
              a reliable, effecient way to handle and track her appointments. Clients can visit the website to
              learn about her services, request appointments, and view their past appointments. The owner can view
              their requested appointments, accept or deny them, and view all of their accepted and
              completed appointments.
            </p>
          </div>
          <div id="horse_footer" class="card-footer">
            <a href="#" id="red_btn" class="btn btn-primary">Visit</a>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <div id="employee" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <circle class="cls-2" cx="127.94" cy="70.18" r="34.76" />
              <path class="cls-2" d="M174.5,215.22c-31.63-13.56-62.7-14.1-93.12,0V122.1H174.5Z" transform="translate(0 0)" />
            </svg>
            <h4 class="card-title">Employee Management</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              A website custom built with Laravel to handle scheduling within a local
              branch of Owens Illinois, a glass-container producing company. It allows management
              to view all of the employees and their shift, job, and other information. Employees are
              organized by shift where there are options to change their shift, view more information, and
              more. It also handles notifications & displaying staff events.
            </p>
          </div>
          <div id="employee_footer" class="card-footer">
            <a href="#" id="red_btn" class="btn btn-primary">Visit</a>
          </div>
        </div>
        <br />
      </div>
      <div class="col-md-6">
        <div id="dog" class="card" style="width:400px">
          <div class="card_container">
            <svg class="card_svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 255.88 255.88">
              <circle class="cls-1" cx="127.94" cy="127.94" r="125.94" />
              <path class="cls-2" d="M248.32,162.44c-35-61.3-38.62-54.56-45.09-59.42s-12.68-3.87-12.68-3.87a24,24,0,0,0-1.62-4.58c-1.3-2.92-8.78-7.15-12.68-12.63s-1.62-18.57-9.42-17.27S156.1,99.12,156.1,99.12A42.82,42.82,0,0,1,139.2,90,68.83,68.83,0,0,1,129,77.93c-4.22-6.5-5.64-11.32-10.72-13.17-1-.35-3.17-1.12-4.77-.09-2.55,1.65-1.67,6.79-1.47,9.81,1,15.54,10.9,40.57,10.9,40.57-6.83,7.8-11.38,18.2-15,27.3s2.92,21.24,2.92,21.24-3.57,7.36-8.45,15.49-29.9,19.82-27.95,26.65,14,11.38,14,11.38c9.1,9.75,36.72,5.52,36.72,5.52l18.05,4.17L162,248.64A114.43,114.43,0,0,0,248.32,162.44Z"
                transform="translate(0 0)" />
              <path class="cls-2" d="M108.26,48.94" transform="translate(0 0)" />
            </svg>
            <h4 class="card-title">Dog Rescue Organization</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Built using Wordpress, this website was designed for a local animal rescue. The
              organization wanted a simple site that allowed individuals to visit and see basic
              information about the rescue, links to pet listings on various other websites, a gallery,
              and ability to send a message. Additionally, there are links to a donation page
              and a downloadable adoption application that the oranization requires.
            </p>
          </div>
          <div id="dog_footer" class="card-footer">
            <a href="http://sparrowdogs.com/" id="red_btn" class="btn btn-primary">Visit</a>
            <button type="button" class="btn btn-primary" id="red_btn" data-toggle="modal" data-target="#editModal">Read More</button>
          </div>
        </div> <br />
      </div>
    </div>
  </div>
</div>
<br />
