.main-display {
  color: white;
  font-weight: 400;
  text-align: left;
  padding-bottom: .25em;
}

/* Custom HR for under content heading */
.red-border {
  border-width: 1rem !important;
  border-color: #9E2A2B !important;
  border-style: dashed inset;
}

.text-secondary {
  color: #9E2A2B !important;
  font-weight: 200;
  font-size: 1.5em;
}

@media (min-width: 992px) .pt-lg-6, .py-lg-6 {
  padding-top: 5rem !important;
}

.pb-5, .py-5 {
  padding-bottom: 4rem !important;
  padding-top: 4rem !important;
}

.img-thumbnail {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #262626;
}

figure {
  margin: 0 0 1rem;
}


h2 {
  color: white;
  font-weight: 3rem;
  font-size: 2.5rem;
  padding-bottom: .75rem;
}

.font-weight-light {
  font-weight: 100 !important;
  letter-spacing: .5px;
}

.bg-light {
  background: #fff !important;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.img-overlay {
  position: relative
}

.img-overlay .img-hover {
  background-color: rgba(255,255,255, .8);
  border: 2px solid #A9A9A9	;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease
}

.img-overlay .img-text {
  color: #9E2A2B;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: translateY(10px);
  transition: all 0.4s ease-in-out 0s;
}

.img-overlay:hover .img-hover, .img-overlay:hover .img-text {
  opacity: 1
}

.img-overlay:hover .img-text {
  transform: translateY(0)
}


.pb-5 {
  border-top: 3px solid #9E2A2B;
}
