<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="../assets/manufacturing.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">OI Employee Management</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary btn-sm">More Info</button>
            |
          <button type="button" class="btn btn-primary btn-sm" id="custom_btn">Visit Website</button>
            |
          <button type="button" class="btn btn-primary btn-sm" id="custom_btn">Visit Website</button>

        </div>
    </div>
    </div>
    <div class="col-md-6">
      <div class="card">
          <img class="card-img-top" src="../assets/cardpic.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">GPA Calculator</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <button type="button" class="btn btn-primary btn-sm">Small button</button>
            |
          <button type="button" class="btn btn-primary btn-sm">Small button</button>

        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>

  </div>
</div>
</div>
<br/>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top" src="../assets/cardpic.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dog Rescue</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-primary btn-sm">More Info</button>
          |
        <button type="button" class="btn btn-primary btn-sm">Visit Website</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
  </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <img class="card-img-top" src="../assets/cardpic.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Horse Braiding</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-primary btn-sm">Small button</button>
          |
        <button type="button" class="btn btn-primary btn-sm">Small button</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>

  </div>
    <br/>
</div>
</div>
<br/>
