.project-heading{
  color: #fff;
  font-weight: 400;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.img-thumbnail {
    padding: 2rem;
    background-color: transparent;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.text-wrapper {
  border: 2px solid #9E2A2B;
  border-radius: 1rem;
  width: 100%;
}

.text-heading {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.text-used {
  color: #fff;
  font-size: 1.25rem;
  padding: 1rem .25rem;
}

.text-used+.text-used:after {
  content: "\002F";
  color: #a6a6a6;
  padding-left: .25rem;

}

.ml-1::after {
  border: 5px solid #9E2A2B;
}

.red_hr {
  border: 2px solid #9E2A2B;
  margin-top: 0;
  width: 99%;
}
