.nav-link {
  color: white;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  transition: color 0.8s ease;

}

.nav-link:hover {
  color: #9E2A2B !important;
}

.red_borders:after,
.red_borders:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 400ms ease-in-out;
  width: 0;
}

.red_borders:hover:after,
.red_borders:hover:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: #9E2A2B;
  transition: width 600ms ease-in-out;
  width: 100%;
}

.red_borders:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}


.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #262626;
}

.bg-dark {
  background: #262626 !important;
  border-bottom: 2px solid #9E2A2B;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.nav-item {
  margin-bottom: -1px;
  flex: 1 1 auto;
  text-align: center
}


.main-nav .nav-item+.nav-item:before {
  content: "\222A";
  color: #a6a6a6;
  padding-left: 1rem;
  padding-right: 1rem
}
