/* Custom Navbar */
.bg-dark {
  background-color: #6B818C !important;
  overflow: visible !important;
  height: 180px;
  overflow-y: visible;}

#custom_nav {
  overflow-y: visible;

}
.navbar {
overflow-y: visible;}

.nav-head {
  width: 200px;
}

#c_test {
  height: 50px;
  width: 100%;
  background-color: teal;
}
/* Containers for logo in navbar */
.svg_container {
  width: 190px;
  margin: 0 auto;
  text-align: center;
  display: block;
  overflow: visible;
}

.logo_container {
  display: flex;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo2_container {
  display: flex;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* SVG styling */
.st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #FFFFFF;
}

.st2 {
  font-family: 'Broadway';
}

.st3 {
  font-size: 90px;
}

.st4 {
  fill: none;
  stroke: #C90500;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.st5 {
  fill: #C90500;
}

.cls-1, .cls-3 {
  fill: none;
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke: #fff;
  stroke-width: 4px;
}

.cls-2 {
  font-size: 90px;
  fill: #fff;
  font-family: Broadway;
}

.cls-3 {
  stroke: #c90500;
  stroke-width: 3px;
}

.cls-4 {
  fill: #c90500;
}

#Layer_1 {
  fill: red;
}

.svg_container:hover {
  stroke: #6B818C;
  stroke-width: 2px;
}

.a, .b {
  fill: none;
  stroke-miterlimit: 10;
}

.a {
  stroke: #fff;
  stroke-width: 4px;
}

.b {
  stroke: #c90500;
  stroke-width: 3px;
}

.c {
  fill: #fff;
  fill-rule: evenodd;
}

.git_container {
  width: 100px;
  padding: 30px 0 0 5px;
  text-align: left;
}

.other_container {
  width: 100px;
  padding: 30px 0 0 5px;
  text-align: left;
}

.ee04139e-9b3e-4b32-8c78-6fc8bad04fa0:hover {
  background-color: red;
}

.ee04139e-9b3e-4b32-8c78-6fc8bad04fa0, .fa2641c1-df6e-41e6-bfde-11ab62519b4b {
  fill: none;
  stroke: #c90500;
  stroke-miterlimit: 10;
}

.ee04139e-9b3e-4b32-8c78-6fc8bad04fa0 {
  stroke-width: 4px;
}

.fa2641c1-df6e-41e6-bfde-11ab62519b4b {
  stroke-width: 3px;
}

.b683b92e-3147-4907-9470-07fd41723797 {
  fill: #fff;
  fill-rule: evenodd;
}

.svg2_container {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.right_side {
  margin-left: -15px;
  width: 100px;
  padding: 10px 0 0 0px;
  text-align: left;
}

.left_side {
  margin-right: -15px;
  width: 100px;
  padding: 10px 0 0 0;
  text-align: left;
}
