/* Custom Navbar */
.bg-dark {
  background-color: #263859 !important;
  border-bottom: 5px solid #6b778d;
  min-height: 150px;
}

.nav-head {
  width: 200px;
}

/* Containers for logo in navbar */
.svg_container {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}


.logo_container {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* SVG styling */
  .st0{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
  .st1{fill:#FFFFFF;}
  .st2{font-family:'Broadway';}
  .st3{font-size:90px;}
  .st4{fill:none;stroke:#C90500;stroke-width:3;stroke-miterlimit:10;}
  .st5{fill:#C90500;}

#Layer_1 {
  fill: red;
}

.svg_container:hover {
  stroke: gray;
  stroke-width: 2px;
}
