<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="logo_container">
  <a routerLink="#">
    <div class="svg_container">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      	 viewBox="0 0 170.48 109" style="enable-background:new 0 0 170.48 109;" xml:space="preserve">
      <path class="st0" d="M160.35,107H8.65C4.98,107,2,104.02,2,100.35V8.65C2,4.98,4.98,2,8.65,2h151.71c3.67,0,6.65,2.98,6.65,6.65
      	v91.71C167,104.02,164.02,107,160.35,107z"/>
      <text transform="matrix(1 0 0 1 26.9525 79.4389)" class="st1 st2 st3">eb </text>
      <path class="st4" d="M134,83.5"/>
      <path class="st4" d="M85,83"/>
      <rect x="86" y="86" class="st5" width="62" height="4"/>
      </svg>
    </div>
  </a>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
