<div class="container py-5">
  <h1 class="display-2 main-display">Other Work</h1>
  <hr class="red-border my-4 ml-0 w-25" role="presentation">
  <div class="row">
    <div class="col-lg-8">
      <p class="font-serif lead mb-4 text-secondary">
        This is a page to display some of my other smaller bits of work, example
        code, and other miscellaneous functions that I have worked on.
      </p>
    </div>
  </div>
</div>
<div class="container mb-4">
  <div class="row align-items-center pb-5 pb-lg-6">
      <h2 class="font-weight-normal">Content Coming Soon</h2>
      <p class="font-weight-light text-light">
        Currently, this page is a work in progress and does not have any examples
        as of right now.  Check back later for new additions, as this page will
        be regularly updated and added to.  
      </p>
  </div>


</div>

    <div class="bg-white py-5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/atom_logo.svg" alt="Atom logo">
                    </div>
                    <div class="col-4 col-md-2 py-3">
                        <img src="assets/github_logo.svg" alt="Github logo">
                    </div>
                </div>
            </div>
        </div>
