<main id="content">

  <div class="container pt-5 pt-lg-6">
    <h1 class="display-4 mb-5 project-heading">HOPE Animal Rescue</h1>
    <div class="text-wrapper">
      <div class="row ml-1 test">

        <div>
          <dt class="font-weight-light text-heading">Function</dt>
        </div>

        <div class="ml-auto mr-3">
          <dt class="font-weight-light text-used float-right">Web Hosting</dt>
          <dt class="font-weight-light text-used float-right">Photoshop</dt>
          <dt class="font-weight-light text-used float-right">Wordpress</dt>
        </div>
      </div>

      <hr class="red_hr" />

      <h2 class="project-function-title">Organization Website</h2>

      <div class="row justify-content-center">
        <div class="col-8 description_box">
          <p class="font-weight-light text-light project-text">
            A website built using Wordpress for a local animal rescue that wanted
            a basic website.  The website has links to their pet listings, a contact
            form, relevant information, a gallery, an adoption application, a contact
            form, and more.
          </p>
        </div>
        <div class="col-4 visit_btn">
          <a href="https://www.sparrowdogs.com" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <img src="assets/dog_content.jpg" class="img-thumbnail mb-4" alt="">

    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10 project-box">
        <h2 class="description-header">The Project</h2>
        <p>
          Setup using Wordpress, this website was built for a local animal rescue
          that wanted a website to represent their organization.  They wanted a basic
          website to suit the basic needs of the organization, such as displaying
          their pet listings, a way to display their featured pets, and have general
          information about the organization.  I worked with the organization directly
          to work towards their website needs and more, including designing and editing
          all of the images on the website.
        </p>

        <div class="text-center">
          <img src="assets/dog_website.jpg" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          The home page is complete with a navigation menu tailored to their needs.
          There is a dropdown for their pet listings, gallery, contact form, and the
          adoption application that the organization requires potential adopters to
          complete.
        </p>

        <div class="text-center">
          <img src="assets/dog_nav.JPG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          Additionally, there are links that the organization wanted added that
          may help guide potential adopters in the adoption process.  This includes
          links to external websites that have information about breeds, what to do
          when meeting the animal, and what to do when bringing the animal home.
        </p>

        <div class="text-center">
          <img src="assets/dog_links.JPG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          There is also a section for their featured pets.  This area is dedicated
          to two pets that will remain there for a specified amount of time.  I edited
          the images, using Adobe Photoshop, and posted them.  I continue to edit and
          add new images to this section.
        </p>

        <div class="text-center">
          <img src="assets/dog_featured.jpg" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          Various plugins have been setup and implemented within the website.
          MetaSlider is used for the main image below the navigation menu, Ninja
          Forms has been used for the adoption application, and a menu plugin along
          with a widget for the contact form within the navigation menu.
        </p>

        <div class="text-center">
          <img src="assets/dog_application.JPG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <br />

        <div class="text-center my-6">
          <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>
  </div>
</main>
