<main id="content">

  <div class="container pt-5 pt-lg-6">
    <h1 class="display-4 mb-5 project-heading">HOPE Animal Rescue</h1>
    <div class="text-wrapper">
      <div class="row ml-1 test">

        <div>
          <dt class="font-weight-light text-heading">Function</dt>
        </div>

        <div class="ml-auto mr-3">
          <dt class="font-weight-light text-used float-right">Web Hosting</dt>
          <dt class="font-weight-light text-used float-right">Photoshop</dt>
          <dt class="font-weight-light text-used float-right">Wordpress</dt>
        </div>
      </div>

      <hr class="red_hr" />

      <h2 class="project-function-title">Organization Website</h2>

      <div class="row justify-content-center">
        <div class="col-8 description_box">
          <p class="font-weight-light text-light project-text">
            A website built using Wordpress for a local animal rescue that wanted
            a basic website.  The website has links to their pet listings, a contact
            form, relevant information, a gallery, an adoption application, a contact
            form, and more.
          </p>
        </div>
        <div class="col-4 visit_btn">
          <a href="https://www.sparrowdogs.com" class="btn btn-primary">Visit</a>
        </div>
      </div>

      <img src="assets/horse_content.jpg" class="img-thumbnail mb-4" alt="">

    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10 project-box">
        <h2 class="description-header">The Project</h2>
        <p>
          Setup using Wordpress, this website was built for a local animal rescue
          that wanted a website to represent their organization.  They wanted a basic
          website to suit the basic needs of the organization, such as displaying
          their pet listings, a way to display their featured pets, and have general
          information about the organization.  I worked with the organization directly
          to work towards their needs and more.
        </p>

        <div class="text-center">
          <img src="assets/horse_home.PNG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>

        </p>

        <p>
          There are various plugins that I setup and implemented within the website.
          One such plugin is the navigation menu
        </p>

        <div class="text-center">
          <img src="assets/horse_schedule.PNG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          The main page for admins is three columns of appointments, sorted by status. The
          first column is pending, the second is requested, and the third is for completed
          appointments. They can choose to accept or deny a requested appointment, which
          will either just cancel it or move it into the next column. If accepted, it stays
          marked as "pending" until it has been marked as completed by the admin.
        </p>

        <div class="text-center">
          <img src="assets/horse-appts.PNG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          Using Javascript FullCalendar, a calendar is displayed that lists the scheduled
          appointments. This was done both to give the horse braider(s) a clear view of their
          appointments, and give the clients a look at any openings. As the majority of
          work is done overnight, sometimes a certain job may be pushed off until the next morning or
          one might be done the night before. As such, appointments can be easily dragged and dropped
          to move them to applicable day. Each cell contains the horse and barn name, and each one
          is color coordinated to match their status; yellow for requested, blue for accepted, and
          green for complete.
        </p>

        <div class="text-center">
          <img src="assets/horse_calendar.PNG" class="img-thumbnail paragraph-img-border" alt="" data-action="zoom" style="">
        </div>

        <p>
          There are also notifications implemented within the application, with certain
          triggers. The first one is a simple "new user" notification that is just sent
          to the admin(s) when a user has made a new account. Another one is an
          order confirmation of sorts, which is sent to the user who makes an appointment,
          just notifying them that their request has been submitted. Lastly, there is an
          appointment reminder that is sent to the client notifying them of their upcoming
          appointment.
        </p>

        <div class="text-center my-6">
          <a [routerLink]="['/']" class="btn btn-primary">Home</a>
        </div>
      </div>
    </div>
  </div>
</main>
