.project-heading{
  color: #fff;
  font-weight: 400;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.img-thumbnail {
    padding: 1rem;
    background-color: transparent;
    border: none;
}
.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}
.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.project-function-title {
  font-size: 3rem;
}

@media (min-width:600px) {
  body {
    font-size: 16px;
  }
}

.text-used+.text-used:after {
  content: "\002F";
  color: #a6a6a6;
  padding: 5px;
}

.ml-1::after {
  border: 5px solid #9E2A2B;
}

.mr-3 {
  padding-right: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;}

.description_box {
  width: 60%;
  border-right: 4px solid #9E2A2B;
  font-size: 1.25rem;
}

.project-box p {
  font-size: 1.25rem;
  font-weight: 200;
}

.description-header {
  padding-top: 2rem;
  padding-bottom: .5rem;
  font-size: 2.5rem;
  border-bottom: 2px solid #9E2A2B;
}

.my-6 {
  padding-bottom: 2rem;
}

.paragraph-img-border {
  border: 2px solid #9E2A2B;
  border-radius: 1rem;
}
