/* You can add global styles to this file, and also import other style files */

/* Custom Primary Button */
.btn {
  border-radius: 0;
  font-weight: 200;
  font-size: 1.5em;
  vertical-align: middle;
}
.btn-primary {
  background-color: transparent;
  border-color: #9E2A2B;
  color: #9E2A2B;
  padding: .5rem 1rem;
}

.btn-primary:hover {
  background-color: #9E2A2B;
  color: #fff;
  border-color: #9E2A2B;
}

.btn-primary.focus,.btn-primary:focus{
  box-shadow: none;
}

.btn-primary:active {
  box-shadow: none !important;
  border-color: #8e2526 !important;
  background-color: #8e2526 !important;
}
